:root{
    /*Color*/
    --white-volor:#fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;

    /* Size */
    --padding:12px;
    --avatar-size: 36px;
    

    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--black-color);
}

/* header 상당바 */

header {
    display: block;
    position: sticky;
    top: 0;
    padding: var(--padding);
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--white-volor);
    z-index: 1;
}
header .topVar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    height: 56px;
}
header .sidicon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
    font-size: var(--font-large);
}
header .sidicon .fa-bars {
    margin-right: 1rem;
}
header .icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .icon i {
    text-align: center;
    font-size: var(--font-large);
    margin-right: 10px;
}

header .login:hover {
    background-color: rgba(153, 250, 248, 0.92);
    border-color: rgba(153, 250, 248, 0.92);
}

header .login {
    border: 1px solid rgba(129, 129, 131, 0.2);
    border-radius: 15px;
    background-color: var(--white-volor);
}
header .login i {
    text-align: center;
    padding: var(--padding);
    color: rgba(0, 44, 204, 0.86);
}
header .login .loginName {
    font-size: 16px;
}

/* 두번쨰상단바 */
.main .topMenu {
    display: block;
    position: static;
    overflow: hidden;
    width: 100%;
    padding: var(--padding);
    text-align: center;
    margin-bottom: 1rem;   
    background-color: var(--white-volor);
    line-height: 2.5rem;
}
.main .topMenu i{
    text-align: center;
}
.main .topMenu .menuName {
    border-radius: 8px;
    padding: 5px;
    margin-right: 4px;
    background-color: var(--grey-light-color);
}
.main .topMenu .menuName:hover {
    background-color: var(--black-color);
    color: var(--white-volor);
}

/* 메인영상 */

.main {
    padding: var(--padding);
    display: inline-flex;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(129, 129, 131, 0.67);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.main .item {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
}
.item .item-a {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}


.main .item .video {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .item .video video {
    width: 100%;
    border-radius: 10px;
}
.main .item .info {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main .item .info .infoTitile {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
}
.main .item .info .infoTitile .mainTitle{
    font-size: var(--font-medium);
}
.main .item .info .infoTitile .name,
.main .item .info .infoTitile .views {
    font-size: var(--font-micro);
    color: var(--grey-dark-color);
}

.main .item .info .sidimg{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.main .item .info .sidimg img{
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
}


@media screen and (max-width:640px) {
    .main .item {
        width: 350px;
    }
}
@media screen and (min-width:640px){
    .main {
        width: 100%;
    }
}

@media screen and (min-width:640px) {
    .main .item {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}



