canvas, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, embed, fieldset, font, form, h1, h2, h3, h4, h5, h6, hr, i, iframe, img, ins, kbd, label, legend, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}
body{
    margin: 0;
}
.container{
    position: static;
    justify-content: space-between;
}

.top-var-1{
    /* background-color: rgba(0 0 0 / 0.9); */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2020;
    border: 1px solid;
}
.button-1{
    width: 40px;
    height: 40px;
    display: inline-block;
    padding: 8px;
    box-sizing: border-box;
}
.img-1{
    display: inline-flex;
    padding: 18px 14px 18px 16px;
    width: 90px;
    height: 20px;
}